@charset utf-8;

.banner {
	background-color: #000000;
	border-radius: 4px;
	color: #ffffff;
	margin: 4px;
	opacity: 0.8;
	padding: 4px;
	text-align: center;
}

.bannerButton {
	background-color: #ffffff;
	border: none;
	border-radius: 4px;
	color: #000000;
	display: inline-block;
	float: center;
	font-size: x-large;
	margin-top: 4px;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
}

.bannerButton:hover {
	opacity: 0.5;
}

.bannerButton:visited {
	color: #ffffff;
}

.contentBox {
	background-color: #000000;
	border-radius: 4px;
	color: #ffffff;
	margin: 4px;
	opacity: 0.8;
	padding: 4px;
}

.dataTable {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.galleryImage {
	border-radius: 4px;
	height: 100%;
	width: 100%;
}

.map {
	border: 0px;
	border-radius: 4px;
	height: 500px;
	width: 100%;
}
