@charset utf-8;

.banner {
	animation-name: fadeIn;
	animation-duration: 1s;
	background-color: #000000;
	border-radius: 4px;
	color: #ffffff;
	display: block;
	float: center;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	max-width: 900px;
	opacity: 0.8;
	padding: 4px;
	text-align: center;
}

.bannerButton {
	background-color: #ffffff;
	border: none;
	border-radius: 4px;
	color: #000000;
	display: inline-block;
	float: center;
	font-size: x-large;
	margin-top: 5px;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
}

.bannerButton:hover {
	opacity: 0.5;
}

.dataTable {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.galleryBox {
	animation-name: fadeIn;
	animation-duration: 1s;
	background-color: #000000;
	border-radius: 4px;
	color: #ffffff;
	display: block;
	float: center;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	max-width: 900px;
	opacity: 0.8;
	padding: 4px;
}

.galleryImage {
	border-radius: 4px;
	height: 100%;
	width: 100%;
}

.map {
	border: 0px;
	border-radius: 4px;
	height: 500px;
	width: 100%;
}

.mapBox {
	animation-name: fadeIn;
	animation-duration: 1s;
	background-color: #000000;
	border-radius: 4px;
	color: #ffffff;
	display: block;
	float: center;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	max-width: 900px;
}

.textBox {
	animation-name: fadeIn;
	animation-duration: 1s;
	background-color: #000000;
	border-radius: 4px;
	color: #ffffff;
	display: block;
	float: center;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	max-width: 900px;
	opacity: 0.8;
	padding: 4px;
}
